<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express One To Many</title>
  </head>
  <body>
    <h1>Express One to Many</h1>
    <ol>
      <li><a href="/users">Users</a></li>
      <li><a href="/profiles">Profiles</a></li>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/addresses">Addresses</a></li>
      <li><a href="/addresses_with_contact">Addresses with Contact</a></li>
    </ol>
  </body>
</html>
